 
 /*Hoja de estilos pagina Productos*/
 
 .titulos {
        font-size: 100%;
        font-family: sans-serif;
        height: 70px;
        font-weight: bold;
      }

/* Cual es el objetivo de esta hoja de estilos? Su contenido no podria estar en styles.css❓ */