
/* Fijacion de imagen de background*/
* {
    margin: 0;
}

.image {
    width: 100%;
    height: 100vh;
    background-image: url(../assets/images/empresa_3.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    position: absolute;
}
    

.home {
    background-color:rgba(0, 0, 0,0.2);
    width: 100%;
    height: 70vh;
}
.solid {
    background-color: white;
    width: 100%;
    height: 20vh;
}
.transparent {
    background-color: rgba(169, 169, 169,0.5);
    width: 100%;
    height: 10vh;
}


.calidad {
    font-family: "Playfair Display", serif;
    font-optical-sizing: auto;
    font-weight:100;
    font-style: normal;
    font-size: 700%;
    color: white;
    position: absolute;
    text-align:center;
    top: 15%;
}

h3{
    font-family: "Edu VIC WA NT Hand", cursive;
    font-optical-sizing: auto;
    font-weight:300;
    font-style: normal;
    font-size: 200%;
    color: white;
    position: relative;
    text-align:center;
    top: 50%;

}
/*------------------------------*/

.img_1 {
    background-image: url(../assets/images/tarjeta_1.avif);
    width: 25%;
    height: 400px;
    margin: auto;
    

}
.img_2 {
    background-image: url(../assets/images/tarjeta_2.jpg);
    width: 25%;
    height: 400px;

}
.img_3 {
    background-image: url(../assets/images/tarjeta_3.jpg);
    width: 25%;
    height: 400px;
}
.img_4 {
    background-image: url(../assets/images/tarjeta_4.jpg);
    width: 25%;
    height: 400px;
}

.image_prop {
    background-color: rgba(128, 128, 128,0.5);
    width: 100%;
    height: 400px;
    position: relative;
    display: inline-block;
    text-align: center;
}
.text_prop {
    font-family: cursive;
    color: white;
    font-size: 200%;
}